html {
  height: 100%;
  background-color: rgba(166, 13, 59, 1);
}
body {
  height: 110%;
  margin: 0;
  background: rgb(166, 13, 59);
  background: linear-gradient(
    0deg,
    rgba(166, 13, 59, 1) 25%,
    rgba(128, 16, 178, 1) 75%
  );
}

* {
  text-align: center;
  color: white !important;
}

h1 {
  font-family: "CooperHewittBold" !important;
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: bold;
  font-family: helvetica;
  text-decoration: underline;
}

a:hover {
  /* font-weight: bold; */
  font-style: italic;
}

section {
  height: 100vh;
  position: relative;
}
span {
  display: block;
}
